@font-face {
  font-family: "Open Sans";
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 4.6875vw;
  letter-spacing: 0.9px;
}

img {
  display: block;
}

.header,
.footer {
  width: 100%;
  padding: 10.62% 0 23.43%;
  background-image: url(https://raw.githubusercontent.com/DimGA/mq-diploma/master/sources/img/football_767.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.header::before,
.footer::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(10, 14, 52, 0.9);
  position: absolute;
}

.container {
  position: relative;
}

.header_logo,
.footer_logo {
  display: flex;
  justify-content: center;
}

.header_logo {
  width: 100%;
}

.logo_icon {
  width: 41.56%;
}

.welcome-title {
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  font-size: 8.75vw;
  text-transform: uppercase;
  margin: 41.25% 6.25% 25.31% 6.25%;
}

.title_line2 {
  padding-left: 12.6%;
  padding-top: 6.56%;
  line-height: 10.5vw;
}

.download_button {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  text-decoration: none;
  width: 87.5%;
  height: 35px;
  border: none;
  background-color: #5e42b0;
  margin: 0 auto 4.37% auto;
  border-radius: 20px;
  font-weight: 700;
  color: #ffffff;
  font-size: 8px;
  text-transform: uppercase;
}

.download_icon {
  display: flex;
  margin: auto 3.57%;
}

.apple_icon,
.google_icon {
  width: 25px;
  height: 30px;
}

.apple_download,
.google_download {
  display: flex;
  width: 35.71%;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
}

.apple_line1,
.google_line1 {
  font-weight: 400;
}

.main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.athlets_articles {
  position: relative;
}

.footballer {
  position: absolute;
  width: 60.48%;
  top: 10%;
  left: 20%;
}

.athlets,
.players {
  text-transform: uppercase;
  color: #e7e7e7;
  font-size: 15.625vw;
  margin: 7.5% 6.25% 71.875%;
}

.athlets_pros,
.players_pros {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.article_title {
  display: flex;
  align-self: flex-end;
  text-transform: uppercase;
  font-size: 7.18vw;
  color: #c1c1c1;
  margin-bottom: 8.59%;
}

.players_articles {
  position: relative;
}

.basketballer {
  position: absolute;
  width: 95%;
  top: 9.2%;
  left: 3.125%;
}

.active_pic,
.contact_pic,
.work_pic {
  width: 100%;
}

.connection {
  display: flex;
  flex-wrap: wrap;
  padding: 23% 6.25% 18% 6.25%;
  align-items: center;
  background-color: #fafafa;
}

.card_number_1,
.card_number_2,
.card_number_3,
.card_number_03 {
  margin-bottom: 11%;
  display: flex;
  flex-direction: column-reverse;
  margin-right: 3.43%;
  font-weight: 700;
}

.card_number_1::before,
.card_number_2::before,
.card_number_3::before,
.card_number_03::before {
  content: "";
  display: block;
  width: 95.03%;
  height: 1.25vw;
  background-color: #5e42b0;
  border-radius: 4px;
}

.card_number_3::before {
  background-color: #fff;
}

.growth_article {
  color: #fff;
}

.collaboration,
.growth,
.growth_players {
  display: flex;
  flex-wrap: wrap;
  padding: 18% 6.25%;
  align-items: center;
  background-color: #f5f4f9;
}

.growth {
  background-color: #5e42b0;
}

.growth_players {
  background-color: #090c35;
}

.card_number_03 {
  color: #7155bd;
}

.cta {
  position: relative;
}

.cta_number_01 {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 21.875vw;
  height: 21.875vw;
  background-color: #5e42b0;
  position: absolute;
  top: 91.5vw;
  left: 6.25%;
  font-weight: 700;
  color: #f5f6f7;
}

.cta_number_01::before {
  content: "";
  display: flex;
  width: 25.71%;
  height: 5.71%;
  background-color: #8f7bc8;
  border-radius: 22%;
}

.cta_articles {
  padding: 0;
}

.article_title_cta {
  display: flex;
  flex-wrap: nowrap;
  text-transform: uppercase;
  font-size: 8.75vw;
  color: #c1c1c1;
  margin: 7.18% auto 6.25% 6.25%;
}

.active_article {
  padding: 0 6.25% 25%;
}

.footer {
  background-image: url(https://raw.githubusercontent.com/DimGA/mq-diploma/master/sources/img/game_767.jpg);
  padding: 0;
  background-size: cover;
}

.container-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_icon {
  width: 70%;
}

.footer_logo {
  display: flex;
  width: 22.5vw;
  height: 23.125vw;
  background-color: #5334a0;
  border-radius: 25%;
  margin: 20.3vw auto 0 auto;
}

.footer_logotype {
  display: flex;
  justify-content: center;
  margin-top: 25.62%;
}

.footer_logo_icon {
  width: 41.56%;
  margin-bottom: 6.25%;
}

.footer_title {
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  text-transform: uppercase;
  margin: 17.18% 6.25% 25.31% 6.25%;
}

.footer_line1 {
  font-size: 10vw;
  font-weight: 700;
}

.footer_line2 {
  font-size: 4.375vw;
  margin: 0 auto;
  color: #9b8ec1;
}

@media (min-width: 768px) and (max-width: 960px) {
  .header {
    background-image: url(https://raw.githubusercontent.com/DimGA/mq-diploma/master/sources/img/football_1280.jpg);
    padding: 5.2vw 0 3.8vw 0;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .header_logo {
    width: 26.69vw;
  }
  .logo_icon {
    width: 100%;
  }
  .welcome-title {
    font-size: 8.33vw;
    margin: 23.56% 2.6% 39% 11.71%;
    line-height: 55%;
  }
  .title_line2 {
    padding-left: 15.02%;
    padding-top: 3.9%;
    line-height: 120%;
  }
  .download_button {
    width: 311px;
    height: 77px;
    border-radius: 40px;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 65px;
  }
  .download_button_apple {
    margin-left: auto;
    margin-right: 1.95%;
  }
  .download_button_google {
    margin-right: auto;
    margin-left: 1.95%;
  }
  .download_icon {
    margin: auto 15px auto -20px;
  }
  .apple_icon,
  .google_icon {
    width: 55px;
    height: 42px;
  }
  .apple_download,
  .google_download {
    width: 150px;
  }
  .apple_line1,
  .google_line1 {
    font-weight: 400;
  }
  .footballer {
    width: 63%;
    top: 14.2%;
    left: -20.79%;
  }
  .athlets {
    font-size: 10.41vw;
    margin: 7.81% 17.7% 0.65% 37.89%;
  }
  .article_title {
    font-size: 4.16vw;
    margin-bottom: 4.03vw;
  }
  .connection {
    padding: 3% 6.25% 4.68% 38%;
    background-color: #fff;
  }
  .collaboration,
  .growth {
    padding: 4.68% 6.25% 4.68% 38%;
  }
  .connection_article,
  .collaboration_article,
  .growth_article {
    font-size: 2.08vw;
  }
  .card_number_1,
  .card_number_2,
  .card_number_3,
  .card_number_03 {
    font-size: 2.34vw;
    margin-bottom: 4.29vw;
  }
  .card_number_1::before,
  .card_number_2::before,
  .card_number_3::before,
  .card_number_03::before {
    width: 89%;
    height: 5px;
  }
  .basketballer {
    width: 51.55%;
    left: 48.39%;
    top: 16%;
  }
  .players {
    font-size: 10.41vw;
    margin: 10.41% 52.21% 1.3% 4.42%;
  }
  .connection_players,
  .collaboration_players,
  .growth_players {
    padding: 4.68% 46.22% 4.68% 4.16%;
  }
  .cta_number_01 {
    width: 15.1vw;
    height: 15.1vw;
    top: 65.6vw;
    left: 4.29vw;
    font-size: 3.125vw;
  }
  .cta_number_01::before {
    width: 21.55%;
    height: 4.31%;
  }
  .article_title_cta {
    font-size: 10.41vw;
    margin: 7.03vw auto 1.95vw 4.16vw;
  }
  .active_article {
    font-size: 3.125vw;
    padding: 0 11.19vw 12.63vw 4.29vw;
  }
  .container-1 {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer {
    background-image: url(https://raw.githubusercontent.com/DimGA/mq-diploma/master/sources/img/game_1280.jpg);
  }
  .footer_icon {
    width: 70%;
  }
  .footer_logo {
    display: flex;
    width: 16.92vw;
    height: 17.83vw;
    background-color: #5334a0;
    border-radius: 25%;
    margin: 18.48% auto 7.16% auto;
  }
  .footer_title {
    margin: 2.6% auto 37.37% auto;
    justify-content: center;
  }
  .footer_line2 {
    font-size: 4.2vw;
  }
  .footer_logo_icon {
    width: 26.69%;
  }
  .footer_logotype {
    width: 100%;
    margin: 10.67% auto 3.12% auto;
  }
}

@media (min-width: 961px) and (max-width: 1920px) {
  .header {
    background-image: url(https://raw.githubusercontent.com/DimGA/mq-diploma/master/sources/img/football_1920.jpg);
  }
  .header {
    padding-top: 2.34vw;
    padding-bottom: 0;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .header_logo {
    width: 15.625%;
  }
  .logo_icon {
    width: 100%;
    height: 60%;
  }
  .welcome-title {
    font-size: 4.68vw;
    letter-spacing: 5px;
    margin: 14.8% 1.04% 11% 9.5%;
    line-height: 30%;
  }
  .title_line2 {
    padding-left: 26.5%;
    padding-top: 2%;
    line-height: 100%;
  }
  .download_button {
    width: 311px;
    height: 77px;
    border-radius: 40px;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 6%;
  }
  .download_button_apple {
    margin-left: auto;
    margin-right: 1.3%;
  }
  .download_button_google {
    margin-right: auto;
    margin-left: 1.3%;
  }
  .download_icon {
    margin: auto 9% auto 0;
  }
  .apple_icon {
    width: 42px;
    height: 48px;
  }
  .google_icon {
    width: 40px;
    height: 50px;
  }
  .apple_download,
  .google_download {
    width: 50%;
  }
  .footballer {
    width: 29.48vw;
    top: 3%;
    left: 20.416%;
  }
  .athlets {
    font-size: 4.16vw;
    margin: 4.68% 29.79% 1.04% 52.44%;
  }
  .article_title {
    font-size: 1.875vw;
    margin-bottom: 0.6vw;
  }
  .connection {
    background-color: #fff;
  }
  .collaboration,
  .connection,
  .growth {
    padding: 2.6vw 10.6% 3% 52.5%;
  }
  .connection_article,
  .collaboration_article,
  .growth_article {
    font-size: 1.04vw;
  }
  .card_number_1,
  .card_number_2,
  .card_number_3,
  .card_number_03 {
    font-size: 0.93vw;
    margin-bottom: 0.5vw;
    margin-right: 2%;
  }
  .card_number_1::before,
  .card_number_2::before,
  .card_number_3::before,
  .card_number_03::before {
    width: 90%;
    height: 5px;
  }
  .basketballer {
    width: 51.61vw;
    left: 41.875%;
    top: 2%;
  }
  .players {
    font-size: 4.16vw;
    margin: 5% auto 0.52% 10%;
  }
  .connection_players,
  .collaboration_players,
  .growth_players {
    padding: 3.1% 50% 2.8% 10%;
  }
  .growth_players {
    padding-right: 55%;
  }
  .cta {
    display: flex;
  }
  .article_title_cta {
    font-size: 4.16vw;
    margin: 27% auto 10.5% 14%;
  }
  .title_cta_work {
    margin: 25% auto 7.8% 14%;
  }
  .title_reverse {
    margin: 24% 13.125% 5% 20%;
  }
  .cta_image {
    width: 50%;
  }
  .cta_card {
    width: 50%;
  }
  .cta_reverse {
    flex-direction: row-reverse;
  }
  .active_article {
    font-size: 1.25vw;
    margin: 0 22% auto 14.5%;
    padding: 0;
  }
  .article_work {
    margin-left: 13% ;
  }
  .article_reverse {
    margin: 0 12% auto 20%;
  }
  .cta_number_01 {
    width: 8.75%;
    height: 21.23%;
    top: 28.9%;
    left: 45.625%;
    font-size: 1.25vw;
  }
  .cta_number_01::before {
    width: 14.9%;
    height: 3.23%;
  }
  .container-1 {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .footer {
    background-image: url(https://raw.githubusercontent.com/DimGA/mq-diploma/master/sources/img/game_1280.jpg);
  }
  .footer_icon {
    width: 70%;
  }
  .footer_logo {
    width: 6.77vw;
    height: 7.135vw;
    margin: 12% 0 7% 25%;
  }
  .footer_title {
    flex-direction: column;
    line-height: 3.64vw;
    margin: 12% 27% 7% 2%;
  }
  .footer_line1 {
    font-size: 4.166vw;
    margin-top: 0.52vw;
  }
  .footer_line2 {
    font-size: 1.562vw;
    margin-left: 0;
  }
  .footer_logo_icon {
    width: 100%;
  }
  .footer_logotype {
    width: 10%;
    margin: 7.5% 45% 2.7vw 45%;
  }
}
